/*colors used:*/
/*dark (midnight blue): #2c3e50*/
/*yellow (sun flower): #f1c40f*/
/*light (clouds): #ecf0f1*/
/*dark(wet asphalt): #34495e*/

* {
    font-size: 16px;   
    font-family: 'Lato', sans-serif;
}
body {
    background: #ecf0f1;
}

div#bgf-navbar, div#bfg-footer {
    background: #2c3e50;
    color: white !important;
}
div#bgf-navbar a {
    color: white !important;
}
div#bgf-navbar a:hover {
    color: #f1c40f !important;
}

.btn-primary#notify {
    background: #34495e; 
}

.content, .body, .files {
    margin-top: 50px;
}

.folder:hover, .file:hover {
    background: silver;
    cursor: pointer;
}

/* ==== list view ==== */


.back_to_root {
	float: right;
	margin-top: 40px;
	margin-right: 80px;

}

/*folders - list view styling*/

.list .folder {
    width: 100%;
    height: 40px;
    margin-bottom: 10px;
    border: 1px solid silver;
    text-align: center;
    background: white;
    border-radius: 5px;
}

.list .folder button {
    float: right;
    margin-top: 4px;
    width: 40px;
    border-left: 1px dashed silver;
    color: #f1c40f !important;
}
.list .folder a {
    display: block;
    float: left;
    width: 80%;
    color: grey;
}

.list .folder a .icon {
    display: block;
    float: left;
    margin-top: 5px;
    width: 40px;
    text-align: center;
    border-right: 1px dashed silver;
    height: 32px;
}

.list .folder a .name {
    text-align: left;
    padding-left: 60px;
    font-weight: bold;
    font-size: 18px;
    margin-top: 6px;
}

/*folders - list view styling - end*/

.file {
    width: 250px;
    height: 280px;
    margin-right: 20px;
    float: left;
    margin-bottom: 10px;
    border: 1px solid gray;
    text-align: center;
}

.grid:after {
    display: block;
    clear: both;
}

.grid .folder .icon img, .file .icon img {
    width: 32px;
}
.file .icon {
    width: 250px;
    background-image: url("/images/file.png");
    background-position: top center;
    background-size: 80px;
    background-repeat: no-repeat;
    height: 200px;
    margin-top:10px;
    border-bottom: 1px solid gray;
}

.file .icon_img {
	height: 100px;
	margin-bottom: 50px;
	margin-top: 50px;
}


.file .post {
    font-size: 10px;
    overflow: hidden;
    height: 15px;
    line-height: 15px;
}
.file .post:after {
    content: "...";
    font-size: 10px;
    line-height: 15px;
}
.grid .folder .date, .file .date {
    font-style: italic;
}

.iframe, .embed {
    display: inline-block;
    width: 250px;
    height: 200px;
    border: none;
    border-bottom: 1px solid gray;
}
.embed, .file .icon {
    -webkit-box-shadow: inset 0px -112px 14px -106px rgba(0,0,0,0.4);
    -moz-box-shadow: inset 0px -112px 14px -106px rgba(0,0,0,0.4);
    box-shadow: inset 0px -112px 14px -106px rgba(0,0,0,0.4);
}

.embed {
	text-align:center;
}

.embed .description {
    display: none;
}
.embed .provider {
    display: block;
}
.embed .thumb {
	margin-left: auto;
	margin-right: auto;
	display: block;
	margin-top: 40px;
	height: 100px;
}

.files {
    margin-bottom: 20px;
    padding-bottom: 20px;
}

.folder .starred {
color: papayawhip;
}
